<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title class="ion-text-center">
          Panian's Coffee
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-card>
        <img src="https://scontent.fath6-1.fna.fbcdn.net/v/t1.15752-9/97998623_2912098985504641_8879238594011594752_n.jpg?_nc_cat=108&_nc_sid=b96e70&_nc_oc=AQluXp-XmjEcdVpsYThy2Xg1IqCFnlVfCFbCbNxCUBfvYOyibRRvNDVLuH6YDMQJNdc&_nc_ht=scontent.fath6-1.fna&oh=02ad896310fd987893444e9502714668&oe=5EE7A57E">
      </ion-card>

      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/menu/hot-coffee" button>
            <ion-icon src="assets/icon/hot_coffee.svg" slot="start" large></ion-icon>
            <ion-label class="menu-item">Hot Coffee</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/menu/cold-coffee" button>
            <ion-icon src="assets/icon/cold_coffee.svg" slot="start" large></ion-icon>
            <ion-label class="menu-item">Cold Coffee</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/menu/drinks" button>
            <ion-icon src="assets/icon/drinks.svg" slot="start" large></ion-icon>
            <ion-label class="menu-item">Drinks</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/menu/snacks" button>
            <ion-icon src="assets/icon/snacks.svg" slot="start" large></ion-icon>
            <ion-label class="menu-item">Snacks</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item (click)="onLogout()" button>
            <ion-icon src="assets/icon/logout.svg" slot="start" large></ion-icon>
            <ion-label class="menu-item">Logout</ion-label>
          </ion-item> 
        </ion-menu-toggle> 
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
