ion-content{
    --background: url("../../../assets/images/backround.jpg");
}

ion-toolbar.black-bg{
    --background: black;
  
    ion-title{
      color: white;
    }
  }

  ion-icon{
    color: white;
    font-size: larger;
  }